section {
  padding: 40px;
  background-image: url(/API/assets/img/bodyForm.jpg);
  color: rgb(247, 157, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#titulo {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 20px;
  color: rgb(247, 157, 41);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  margin-bottom: 6vh;
  border: 3px solid;
}

#encontre {
  margin-top: 8vh;
}
.search-container {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.search-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(247, 157, 41);
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

select:hover,
select:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

select:focus {
  outline: none;
}

.btn,
.btn-pesquisa {
  padding: 12px 25px;
  border-radius: 8px;
  border: 2px solid rgb(247, 157, 41);
  background-color: #ffffff;
  color: rgb(247, 157, 41);
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.btn:hover {
  background-color: rgb(247, 157, 41);
  color: white;
  transform: scale(1.05);
}

.box-search {
  display: flex;
  justify-content: center;
  gap: 0.1%;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0 / 0.5);
}

dialog {
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

@media (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  select {
    width: 100%;
    margin-bottom: 10px;
  }

  .animal-card {
    width: 60%;
  }
}
