/* Section Styles */
section {
    padding: 40px ;
    background-image: url(/API/assets/img/8cd5d16686b22b8714b77d5593a7c4cd.jpg);
    color: rgb(247, 157, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #titulo {
    text-align: center;
    margin-bottom: 20px;
    background-color:  rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid #ffffff;
    padding: 20px;
    color: rgb(247, 157, 41);
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 8vh;
    margin-bottom: 6vh;
    border: 3px solid;
  }
  
  
  
  
  /* Form Styles */
 
  select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(247, 157, 41);
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  
  select:focus {
    outline: none;
  }
  
  
  /* Button Styles */

  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px; 
}

  .btn {
    padding: 12px 25px;
    border-radius: 8px;
    border: 2px solid rgb(247, 157, 41);
    background-color: #ffffff;
    color: rgb(247, 157, 41);
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.btn:hover {
    background-color: rgb(247, 157, 41);
    color: white;
    transform: scale(1.05);
}
  
  
  /* Animal card*/
  .animal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .animal-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 15px;
    transition: transform 0.3s;
    border: 1px solid rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .animal-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .animal-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
    align-self: flex-start;
  }
  
  .animal-card p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
    align-self: flex-start; 
  }
  
  .animal-card:hover {
    transform: scale(1.03);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .search-container h1 {
      font-size: 2rem;
    }
  
    form {
      flex-direction: column;
      align-items: center ;
    }
  
    select {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .btn {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  
    .animal-card {
      width: 60%;
    }
  }
  