h1{
    color: white;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 14vh;
}

.location {
    margin: 10px 0;
}
label{
    color: white;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 60%;
    padding: 20px;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#p-btn{
    margin-left: 20px;
}

#s-btn{
    margin-left: 20px;
}

.lost-animals {
    margin-top: 20px;
}

.animal-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.animal-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.animal-info h3 {
    margin: 0;
}

/* Estilos para Computadores */
@media (min-width: 1024px) {
    .container {
        width: 60%;
    }

    .search-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .location, .city {
        flex: 1;
        margin: 0 10px;
    }

    .btn {
        width: 200px;
    }
}

/* Estilos para Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 80%;
    }

    .search-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .location{
        flex: 1;
        margin: 0 5px;
    }

    .btn {
        width: 150px;
    }
}

/* Estilos para Celulares */
@media (max-width: 767px) {

    h1{
        font-size: 3vh;
    }
    .container {
        width: 80%;
    }

    .location{
        width: 80%;
        margin-bottom: 40px;
    }
    .search-section {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 60%;
        margin-bottom: 2vh;
    }
}
