body {
  background-color: #8e99f3;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.container {
  overflow-y: auto;
  background-color: #8e99f3;
  width: 100%; 
  max-width: 600px; 
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  height: 100%; 
}

.crieConta {
  padding: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.crieConta h1 {
  font-size: 50px;
}

.crieConta h2 {
  font-size: 30px;
}

form {
  flex: 1; 
  background-color: rgb(255, 255, 255); 
  border-radius: 50px 50px 0px 0px;
  padding: 30px;
  display: flex;
  flex-direction: column; 
}

.dados {
  align-items: center; 
  width: 95%; 
  display: flex;
  margin: 10px auto; 
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: 2px solid #fbfbfb;  
}

.dados i {
  margin-right: 10px;
  color: #666;
}

.dados input {
  border: none;
  outline: none;
  flex-grow: 1;
  background: none;
  padding: 10px;
  font-size: 0.9rem;
}


nav ul li {
  list-style: none;
  padding: 3px;
}

.btn ,
.btnVoltar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  transition: all 0.3s;
  border: 2px solid #f4a261;  
}


.btn {
  background-color: #f4a261;
  color: white;
  border-radius: 10px;
  width: 80%;
}
  
  
.btnVoltar {
  background-color: #ffffff;
  color: #f4a261;
  border-radius: 5px;
  width: 60%;
}

.btn:hover {
  background-color: #e68a3d;
  transform: scale(1.05);
}


.btnVoltar:hover {
  background-color: #f4a261;
  color: white;
  transform: scale(1.05);
}

.termos {
  color: #8e99f3;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  margin-top: 30px;
  text-decoration: none;
}