* {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    padding-bottom: 135px;
}

.lista {
    display: flex;
}

.lista label {
    display: block;
    margin-bottom: 5px;
}

.lista input {
    margin-bottom: 10px;
    width: 100%;
}

.cachorro-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.cachorro-list li {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: white;
}

.cachorro-list li img {
    width: 174px;
    height: 174px;
    border-radius: 15px; 
    margin-right: 20px;  
}

.cachorro-list li .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cachorro-list li .info h2 {
    font-size: 24px;
    margin: 0;
}

.cachorro-list li .info p {
    font-size: 16px;
    margin: 5px 0;
}

.cachorro-list li .info .location {
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.cachorro-list li .info .location svg {
    margin-right: 5px;
}

/*
.cachorro-list li {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 35%;
    background-color: white;
}



.cachorro-list li .info {
    display: flex;
    flex-direction: column;
    padding: 17px 0px;
}

.cachorro-list li .info .location {
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.cachorro-list li .info .location svg {
    margin-right: 5px;
}


/*
.navbar {
    align-items: center;
    background-color: black;
    border-radius: 30px;
    bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    left: 50%;
    max-width: 500px;
    padding: 10px;
    position: fixed;
    transform: translateX(-50%);
    width: 80%;
}

.nav-item {
    color: rgb(255, 255, 255);
    font-size: 27px;
    padding: 5px;
}



@media (max-width: 550px) {
    .cachorro-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }
    
    .cachorro-list li {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        display: flex;
    }
    
    .cachorro-list li img {
        border-radius: 15px; 
        height: 174px;
        margin-right: 20px;
        width: 80%;
    }
    
    .cachorro-list li .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cachorro-list li .info .location {
        align-items: center;
        display: flex;
        margin-top: 10px;
    }
    
    .cachorro-list li .info .location svg {
        margin-right: 5px;
    }
  }